<script>
    window.onload = function iniciar() {

        google.script.run.withSuccessHandler(userData).userId();
        google.script.run.withSuccessHandler(crearTabla).request("Devolucion","");
        google.script.run.withSuccessHandler(indicadores).indicadoresBD();

    }
    
    document.getElementById('btnCloseDetail').onclick = spinnerDetail;
    document.getElementById("btbuscar").addEventListener("click", fnbuscar);


    //Info del usuario
    function userData(data) {
        var nombre = document.getElementById("userName");
        var correo = document.getElementById("userEmail");
        nombre.innerHTML = data[0];
        correo.innerHTML = data[1];
    }
    
     //Se crea tabla principal
    function crearTabla(dato) {

        console.log("Este es el array " + dato);
        if (dato.length > 0) {
           //[codigo, fechaSolicitud, solicitante, cargo, numContacto, estadoAprobacion, aprobador,estadoEntrega,fechaReque,obsGD,conformidad];
            var encabezados = ["Código", "Fecha de solicitud", "Solicitante", "Cargo",
                "Contacto", "Aprobador", "Fecha entrega", "Observación Entrega"
            ];
            var tabla = "<table id=\"tab\" class=\"table table-hover tabla\">";
           


            //ENCABEZADO
            //tabla += "  <thead class=\"thead-dark\">";
            tabla += "<tr>";
            for (var k = 0; k < encabezados.length; k++) {
              if(encabezados[k] == "Enviar"){
                tabla += "<th class=\"tdencabezado\">" + "<i class=\"fas fa-check-circle\"></i>" + "</th>"
              }
              else{
                tabla += "<th class=\"tdencabezado\">" + encabezados[k] + "</th>";
              }
            }
            tabla += "</tr>";
            //tabla += "</thead>";


            //CUERPO 
            for (var i = 0; i < dato.length; i++) {

                //var status = dato[i][6]; ,'" + status + "'
                tabla += "<tbody>"
                tabla += "<tr id=\"fila" + i + "\" >"

                for (var j = 0; j < dato[0].length; j++) {

                    if (j == 0) {
                        tabla += "<td class=\"tdcuerpo\" style=\"cursor:pointer;\" data-toggle=\"modal\" data-target=\"#detalle\" id=\"fc" + i + "\" onclick=\"seleccion('" + i + "')\">" + dato[i][j].toString() + " </td>";

                    }
                    else {

                        tabla += "<td class=\"tdcuerpo\" style=\"cursor:pointer;\" data-toggle=\"modal\" data-target=\"#detalle\" id=\"fc" + i + "\" onclick=\"seleccion('" + i + "')\">" + dato[i][j].toString() + "</td>";

                    }



                }
                tabla += "</tr>";
                tabla += "</tbody>";
            }
            tabla += "</table>";
            console.log(tabla)


            var cuerpo = document.getElementById("arreglo");
            document.getElementById("spinnerPpal").style.display = "none";
            cuerpo.innerHTML = tabla;



        } else {

            var cuerpo = document.getElementById("arreglo");
            document.getElementById("spinnerPpal").style.display = "none";
            cuerpo.innerHTML = "<br><h3>No se encontraron resultados<br><br><i class=\"fas fa-heart-broken imgTabla\"></i></h3>";

        }
        console.log("Aiuda")
    }


     function seleccion(fila) {

        var a = 'fila' + fila;
        var tr = document.getElementById(a);
        //tr.style.backgroundColor = "#9599cc";
        var td = document.getElementById('fc' + fila).textContent;

        console.log("Esta es la posición de la fila " + td);


            google.script.run.withSuccessHandler(crearTablaDevolucion).getBuscar2(td,"devolucion");
      

    }
    
    function spinnerDetail(){
       var cuerpo = document.getElementById("arreglo1");
       cuerpo.innerHTML = "";
       document.getElementById("spinnerDetail").style.display = "block";
    }
    
    function gdPost(estado, obs, codigo){
       var status = document.getElementById(estado).value;
       var coment = document.getElementById(obs).value;
       google.script.run.gdPostServer(status, coment, codigo);
       if(status == "Entregado"){
          google.script.run.withSuccessHandler(crearTabla).request("Pendiente",codigo);
       }
    }
    
    function enviarRequest(estadoRequest) {

                google.script.run.withSuccessHandler(crearTabla).request(estadoRequest.toString());


    }
    
    
    function fnbuscar() {

        var fechaini = document.getElementById("fechaini").value;
        var fechafin = document.getElementById("fechafin").value;
        var codigo = document.getElementById("solicitud").value;
        google.script.run.withSuccessHandler(crearTabla).info(codigo, fechaini, fechafin, "Entregado");
        document.getElementById("spinnerPpal").style.display = "block";
        var cuerpo = document.getElementById("arreglo");
            cuerpo.innerHTML = "";

    }
    
     function indicadores(inds){
      for(i=0;i<inds.length;i++){
        if(inds[i]==0){
          inds.splice(i,1,"")
        }
      }
      var links = "<li class=\"nav-item  active\">"+
                    "<a class=\"nav-link text-white navlinks\" href=\"https://script.google.com/a/sedic.com.co/macros/s/AKfycbyc902FXWNIt63Zdq5A3rN8SlzvlhgsfJ8Wb6216YI/exec?p=Pendientes\">Pendientes <span class=\"badge badge-warning\" id=\"pend\">"+inds[1]+"</span></a>"+
                "</li>"+

                "<li class=\"nav-item  active\">"+
                    "<a class=\"nav-link text-white navlinks\" href=\"https://script.google.com/a/sedic.com.co/macros/s/AKfycbyc902FXWNIt63Zdq5A3rN8SlzvlhgsfJ8Wb6216YI/exec?p=NoConformidades\">No conformidades <span class=\"badge badge-warning\" id=\"noCon\">"+inds[0]+"</span></a>"+
                "</li>"+

                "<li class=\"nav-item  active\">"+
                    "<a class=\"nav-link text-white navlinks\" href=\"https://script.google.com/a/sedic.com.co/macros/s/AKfycbyc902FXWNIt63Zdq5A3rN8SlzvlhgsfJ8Wb6216YI/exec?p=Devoluciones\">Devoluciones <span class=\"badge badge-warning\" id=\"dev\">"+inds[2]+"</span></a>"+
                "</li>"+

                "<li class=\"nav-item  active\">"+
                    "<a class=\"nav-link text-white navlinks\" href=\"https://script.google.com/a/sedic.com.co/macros/s/AKfycbyc902FXWNIt63Zdq5A3rN8SlzvlhgsfJ8Wb6216YI/exec?p=Historial\">Historial</a>"+
               "</li>";
               
         var ul = document.getElementById("NavLinks");
            ul.innerHTML = links;
        
    }
    
    
    
    
     function aprobado(cod, item, opcionesId, tdEst, obser, idDivComentario) {

        //onchange=\"aprobado('" + codigo + "','" + item + "','opciones" + i + "','tdEstado" + i + "','tdCorreo" + i + "','botones" + i + "')\"

        console.log("Ingresó a la funcion aprobado " + cod + "  " + item + "  " + "  " + idDivComentario);

        var comen = document.getElementById(idDivComentario);
        comen.style.display = "none";


        var tdEstado = document.getElementById(tdEst);


        var selectBox = document.getElementById(opcionesId);
        var estado = selectBox.options[selectBox.selectedIndex].value;
        tdEstado.innerHTML = estado;


        if (estado == "Conforme") {

            comen.style.display = "none";

        } else if (estado == "No conforme") {

            comen.style.display = "block";
            var obser = document.getElementById(obser);
            console.log(obser);
            obser.focus();

        }
    }


    //Carga todos los textos del input de observación en los demas items
    function seleccionarTodo(longitud) {


        var tdEstado = "";
        var tdCorreo = "";
        var idObser = "";
        var inputObser = "";

        var comen = document.getElementById("inputComentario");
        var obser = document.getElementById("obser");



        var inputCorreo = document.getElementById("inputCorreo");

        var selectTodo = document.getElementById("selecTodo");
        var estado = selectTodo.options[selectTodo.selectedIndex].value;

        for (var i = 0; i < longitud; i++) {

            tdEstado = "tdEstado" + i;
            var est = document.getElementById(tdEstado);

            inputObser = "obser" + i;
            var obs = document.getElementById(inputObser);


            if (estado == "Conforme todo") {

                comen.style.display = "none";
                est.innerHTML = "Conforme";


            } else if (estado == "No conforme todo") {

                comen.style.display = "block";
                obser.focus();

                est.innerHTML = "No conforme";

            }

        }
    }


    //Actualiza todos los campos de observación con el dato ingresado
    function actualizarComentarios(longitud) {

        var inputObser = "";
        var inputObser2 = "";
        var datoInput = document.getElementById("obser").value;
   



        for (var i = 0; i < longitud; i++) {

            inputObser = "obser" + i;
            var observacion = document.getElementById(inputObser);
            observacion.value = datoInput;


        }
        
     
  var observacion2 = document.getElementById(inputObser).value;
         
       /*
         for (var k = 0; k < longitud; k++) {
         inputObser2 = "obser"+i;
         var observacion2 = document.getElementById(inputObser).value;
        
        }
      */

 if(observacion2.length > 0){
        toastr.success('Se aplicó correctamente la observación a todos los items', 'Ok!',{

 "closeButton": true,
  "debug": false,
  "newestOnTop": false,
  "progressBar": true,
  "positionClass": "toast-top-center",
  "showDuration": "500",
  "hideDuration": "5000",
  "timeOut": "4000",
  "extendedTimeOut": "4000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
});

document.getElementById("collapse").className = "collapse hide";

         }else{
         
         toastr.error('El campo se encuentra vacio', 'Vacio!',{

 "closeButton": true,
  "debug": false,
  "newestOnTop": false,
  "progressBar": true,
  "positionClass": "toast-top-center",
  "showDuration": "500",
  "hideDuration": "5000",
  "timeOut": "4000",
  "extendedTimeOut": "4000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
});
         
         }
    }



    //Envia los datos seleccionados a la base de datos
    function enviarTodo(codigo, items) {

        var tdEstado = "";
        var estados = [];

        console.log(typeof(items));
        console.log(codigo + " -- " + items);
        

        for (var i = 0; i < items.length; i++) {
          
          
          
           tdEstado = "tdEstado" + i;
            var est = document.getElementById(tdEstado).innerHTML;
            

            estados.push(est);
            google.script.run.enviarEstado(codigo, items[i], est);

            var obserb = "obser" + i;
            var comentar = document.getElementById(obserb).value;


           if (comentar != "") {
               var comentario = comentar.trim();
            }
            

            google.script.run.enviarComentario(codigo, items[i], comentario);

        }
       
        if(estados.indexOf("No conforme") < 0){
         if(estados.indexOf("") < 0){
         var noCon = document.getElementById("noCon").innerHTML ;
         var pend = document.getElementById("pend").innerHTML;
         var dev = document.getElementById("dev").innerHTML -1;
         var inds = [noCon, pend, dev];
          
          indicadores(inds)
        
        google.script.run.withSuccessHandler(crearTabla).request("Devolucion",codigo);
          }
        }
       
       google.script.run.estadoGlobalConfor(codigo, estados, items);
       
    }
    
   


</script>

