<script>
    window.onload = function iniciar() {

        google.script.run.withSuccessHandler(userData).userId();
        google.script.run.withSuccessHandler(crearTabla).request("No cumple", "");
        google.script.run.withSuccessHandler(indicadores).indicadoresBD();

    }
    
    document.getElementById('btnCloseDetail').onclick = spinnerDetail;
    document.getElementById("btbuscar").addEventListener("click", fnbuscar);


    //Info del usuario
    function userData(data) {
        var nombre = document.getElementById("userName");
        var correo = document.getElementById("userEmail");
        nombre.innerHTML = data[0];
        correo.innerHTML = data[1];
    }
    
     //Se crea tabla principal
    function crearTabla(dato) {

        console.log("Este es el array " + dato);
        if (dato.length > 0) {

            var encabezados = ["Código", "Fecha de solicitud", "Solicitante", "Cargo",
                "Contacto", "Estado de aprobación", "Aprobador","Días restantes", "Estado de entrega", "Obs. Entrega", "Enviar"
            ];
            var tabla = "<table id=\"tab\" class=\"table table-hover tabla\">";
           


            //ENCABEZADO
            //tabla += "  <thead class=\"thead-dark\">";
            tabla += "<tr>";
            for (var k = 0; k < encabezados.length; k++) {
              if(encabezados[k] == "Enviar"){
                tabla += "<th class=\"tdencabezado\">" + "<i class=\"fas fa-shipping-fast\"></i>" + "</th>";
              }
              else{
                tabla += "<th class=\"tdencabezado\">" + encabezados[k] + "</th>";
              }
            }
            tabla += "</tr>";
            //tabla += "</thead>";


            //CUERPO 
            for (var i = 0; i < dato.length; i++) {

                //var status = dato[i][6]; ,'" + status + "'
                tabla += "<tbody>"
                tabla += "<tr id=\"fila" + i + "\" >"

                for (var j = 0; j < dato[0].length; j++) {

                    if (j == 0) {
                        tabla += "<td class=\"tdcuerpo\" style=\"cursor:pointer;\" data-toggle=\"modal\" data-target=\"#detalle\" id=\"fc" + i + "\" onclick=\"seleccion('" + i + "')\">" + dato[i][j].toString() + " </td>";

                    }
                    else {

                        tabla += "<td class=\"tdcuerpo\" style=\"cursor:pointer;\" data-toggle=\"modal\" data-target=\"#detalle\" id=\"fc" + i + "\" onclick=\"seleccion('" + i + "')\">" + dato[i][j].toString() + "</td>";

                    }
                    if(j == dato[0].length - 1){
                        tabla += "<td class=\"tdcuerpo\" style=\"min-width:130px\">" + "<select id=\"status" + i + "\" class=\"form-control form-control-sm\"><option>Pendiente</option><option>Entregado</option></select>" + "</td>";
                        tabla += "<td class=\"tdcuerpo\" style=\"min-width:200px\">" + "<textarea id=\"obs" + i + "\" class=\"form-control\"></textarea>" + "</td>";
                        tabla += "<td class=\"tdcuerpo\" id=\"fc" + i + "\"" + "<button onclick=\"gdPost('status"+i+"','obs"+i+"','"+dato[i][0]+"')\"><i class=\"far fa-paper-plane\"></i></button>" + "</td>";
                    } 



                }
                tabla += "</tr>";
                tabla += "</tbody>";
            }
            tabla += "</table>";
            console.log(tabla)


            var cuerpo = document.getElementById("arreglo");
            document.getElementById("spinnerPpal").style.display = "none";
            cuerpo.innerHTML = tabla;



        } else {

            var cuerpo = document.getElementById("arreglo");
            document.getElementById("spinnerPpal").style.display = "none";
            cuerpo.innerHTML = "<br><h3>No se encontraron resultados<br><br><i class=\"fas fa-heart-broken imgTabla\"></i></h3>";

        }
        console.log("Aiuda")
    }


     function seleccion(fila) {

        var a = 'fila' + fila;
        var tr = document.getElementById(a);
        //tr.style.backgroundColor = "#9599cc";
        var td = document.getElementById('fc' + fila).textContent;

        console.log("Esta es la posición de la fila " + td);


            google.script.run.withSuccessHandler(crearTablaValidacion).getBuscar2(td,"No conforme");
           
      

    }
    
    function spinnerDetail(){
       var cuerpo = document.getElementById("arreglo1");
       cuerpo.innerHTML = "";
       document.getElementById("spinnerDetail").style.display = "block";
    }
    
    function gdPost(estado, obs, codigo){
       var status = document.getElementById(estado).value;
       var coment = document.getElementById(obs).value;
       google.script.run.gdPostServer(status, coment, codigo,"Cumple");
       if(status == "Entregado"){
          google.script.run.withSuccessHandler(crearTabla).request("No cumple",codigo);
          var noCon = document.getElementById("noCon").innerHTML - 1;
          var pend = document.getElementById("pend").innerHTML;
          var dev = document.getElementById("dev").innerHTML;
          var inds = [noCon, pend, dev];
          
          indicadores(inds)
       }
    }
    
   function enviarRequest(estadoRequest) {

                google.script.run.withSuccessHandler(crearTabla).request(estadoRequest.toString());
                google.script.run.withSuccessHandler(indicadores).indicadoresBD();
    }
    
    function indicadores(inds){
      for(i=0;i<inds.length;i++){
        if(inds[i]==0){
          inds.splice(i,1,"")
        }
      }
      var links = "<li class=\"nav-item  active\">"+
                    "<a class=\"nav-link text-white navlinks\" href=\"https://script.google.com/a/sedic.com.co/macros/s/AKfycbyc902FXWNIt63Zdq5A3rN8SlzvlhgsfJ8Wb6216YI/exec?p=Pendientes\">Pendientes <span class=\"badge badge-warning\" id=\"pend\">"+inds[1]+"</span></a>"+
                "</li>"+

                "<li class=\"nav-item  active\">"+
                    "<a class=\"nav-link text-white navlinks\" href=\"https://script.google.com/a/sedic.com.co/macros/s/AKfycbyc902FXWNIt63Zdq5A3rN8SlzvlhgsfJ8Wb6216YI/exec?p=NoConformidades\">No conformidades <span class=\"badge badge-warning\" id=\"noCon\">"+inds[0]+"</span></a>"+
                "</li>"+

                "<li class=\"nav-item  active\">"+
                    "<a class=\"nav-link text-white navlinks\" href=\"https://script.google.com/a/sedic.com.co/macros/s/AKfycbyc902FXWNIt63Zdq5A3rN8SlzvlhgsfJ8Wb6216YI/exec?p=Devoluciones\">Devoluciones <span class=\"badge badge-warning\" id=\"dev\">"+inds[2]+"</span></a>"+
                "</li>"+

                "<li class=\"nav-item  active\">"+
                    "<a class=\"nav-link text-white navlinks\" href=\"https://script.google.com/a/sedic.com.co/macros/s/AKfycbyc902FXWNIt63Zdq5A3rN8SlzvlhgsfJ8Wb6216YI/exec?p=Historial\">Historial</a>"+
               "</li>";
               
         var ul = document.getElementById("NavLinks");
            ul.innerHTML = links;
        
    }

</script>

