<script>

    //Nueva tabla para validar los estados
    function crearTablaValidacion(dato) {


        var codigo = dato[0][0];



        var titulo = document.getElementById("exampleModalLabel");
        titulo.innerHTML = "Detalle solicitud " + codigo;



        var btnEnviar = document.getElementById("divEnviar");
        btnEnviar.style.display = "none";



        var posAprobar = dato[0].length - 2;
        // var item = dato[0][2].toString();



        console.log("Este es el codigo " + codigo);
        if (dato.length > 0) {

            var encabezados = ["Tipo de archivo", "Finalidad", "Requiere", "Requiere devolución", "Descripción", "Estado Aprobación"];
            var tabla = "<table id=\"tab\" class=\"table table-hover tabla\">";

            //Encabezados de la tabla
            tabla += "<tr>";
            for (var k = 0; k < encabezados.length; k++) {
                tabla += "<th class=\"tdencabezado\">" + encabezados[k] + "</th>";
            }
            tabla += "</tr>";

            //Cuerpo de la tabla 
            for (var i = 0; i < dato.length; i++) {
                var item = i + 1;



                tabla += "<tbody>"
                tabla += "<tr style=\"cursor:pointer;\">"

                for (var j = 2; j < dato[0].length - 1; j++) {

                    if (j == posAprobar) {

                        tabla += "<td id=\"tdEstado" + i + "\" class=\"tdcuerpo\">" + dato[i][j].toString() + "</td>";

                    } else {
                        tabla += "<td class=\"tdcuerpo\">" + dato[i][j].toString() + "</td>";
                    }


                }
                tabla += "</tr>";
                tabla += "</tbody>";
            }
            tabla += "</table>";

            var cuerpo = document.getElementById("arreglo1");
            document.getElementById("spinnerDetail").style.display = "none";
            cuerpo.innerHTML = tabla;


        } else {


            var cuerpo = document.getElementById("arreglo");
            cuerpo.innerHTML = "<br><h3>No se encontraron resultados<br><br><i class=\"fas fa-heart-broken imgTabla\"></i></h3>";

        }

    }






    function inicioTabla(codigo, dato) {


        var items = [];


        for (i = 0; i < dato.length; i++) {

            items.push(dato[i][1]);

        }


        var titulo = document.getElementById("exampleModalLabel");
        titulo.innerHTML = "Detalle solicitud " + codigo;



        console.log("Este es el dato " + dato);

        var btnEnviar = document.getElementById("divEnviar");
        btnEnviar.innerHTML = "<button type=\"button\" class=\"btn submitGD ml-auto\" data-dismiss=\"modal\" aria-label=\"Close\"  onclick=\"enviarTodo('" + codigo + "'," + JSON.stringify(items) + ")\">Enviar" +
            " </button>";




        btnEnviar.style.display = "flex";


    }
</script>


