<script>


    //Se crea tabla para validar estado de conformidad
    function crearTablaDevolucion(dato) {


        var codigo = dato[0][0];
        var posAprobar = dato[0].length - 1;

        inicioTabla(codigo, dato);


        if (dato.length > 0) {

            var encabezados =  ["Tipo de archivo", "Descripción", "Finalidad", "Requiere", "Requiere devolución", "Estado Devolución", "Conformidad devolución", "Acción"];
            var tabla = "<table id=\"tab\" class=\"table table-hover tabla\">";
            var comentarios = "";

            //ENCABEZADO
            tabla += "<tr>";
            for (var k = 0; k < encabezados.length; k++) {
                tabla += "<th class=\"tdencabezado\">" + encabezados[k] + "</th>";
            }
            tabla += "</tr>";

            //CUERPO 
            for (var i = 0; i < dato.length; i++) {

                var item = i + 1;

                tabla += "<tbody>"
                tabla += "<tr style=\"cursor:pointer;\">"

                for (var j = 3; j < dato[0].length; j++) {

                    if (j == posAprobar) {

                        tabla += "<td id=\"tdEstado" + i + "\" class=\"tdcuerpo\">" + dato[i][j].toString() + "</td>";

                    } else {
                        tabla += "<td class=\"tdcuerpo\">" + dato[i][j].toString() + "</td>";
                    }


                    if (j == posAprobar) {


                        comentarios += "<div style=\"display:none;\" class=\"accordion\" id=\"divComentario" + i + "\">" +
                            "<div class=\"card\">" +
                            "<div class=\"card-header\" id=\"heading" + i + "\">" +
                            "<h2 class=\"mb-0\"> " +
                            "<button style=\"box-shadow: none;\" class=\"btn btn-link btn-block text-left\" type=\"button\" data-toggle=\"collapse\" data-target=\"#collapse" + i + "\" aria-expanded=\"true\" aria-controls=\"collapseOne\">" +
                            "Observación item " + (i + 1) + " " +
                            "</button>" +
                            "</h2>" +
                            "</div>" +

                            "<div id=\"collapse" + i + "\" class=\"collapse show\" aria-labelledby=\"heading" + i + "\" data-parent=\"#divComentario" + i + "\">" +
                            "<div class=\"card-body\">" +
                            "<form>" +
                            "<div class=\"form-group\">" +
                            "<label for=\"obser" + i + "\">Observación</label>" +
                            "<textarea type=\"text\" class=\"form-control\"  id=\"obser" + i + "\" rows=\"3\"   > " + dato[i][2].toString() + "</textarea>" +

                            "</div>" +

                            "</form>" +
                            "</div>" +
                            "</div>" +
                            " </div>" +
                            "</div>";



                        tabla += "<td class=\"tdcuerpo\">" +
                            "<select style = \"min-width: 120px;\" id=\"opciones" + i + "\"   name=\"opciones\"class=\"custom-select\" onchange=\"aprobado('" + codigo + "','" + item + "','opciones" + i + "','tdEstado" + i + "','obser" + i + "','divComentario" + i + "')\">" +
                            "<option selected disabled>Seleccione</option>" +
                            "<option  >Conforme</option>" +
                            "<option  >No conforme</option>" +
                            "</select>" +
                            "</td>";

                    }
                }
                tabla += "</tr>";
                tabla += "</tbody>";
            }
            tabla += "</table>";

            var cuerpo = document.getElementById("arreglo1");
            document.getElementById("spinnerDetail").style.display = "none";
            cuerpo.innerHTML = tabla;
            

            var commit = document.getElementById("divAreaCommit");
            commit.innerHTML = comentarios;


        } else {

            var cuerpo = document.getElementById("arreglo");
            document.getElementById("spinnerDetail").style.display = "none";
            cuerpo.innerHTML = "<br><h3>No se encontraron resultados<br><br><i class=\"fas fa-heart-broken imgTabla\"></i></h3>";

        }
    }


 




    //Se crea inicio de tabla aprobador
    function inicioTabla(codigo, dato) {

        var items = [];

        for (i = 0; i < dato.length; i++) {

            items.push(dato[i][1]);

        }


        var titulo = document.getElementById("exampleModalLabel");
        titulo.innerHTML = "Detalle solicitud " + codigo;

        var select = document.getElementById("opcionesSelect");

        var inputComentario = document.getElementById("inputComentario");

        var btnEnviar = document.getElementById("divEnviar");

        select.innerHTML = "<select  id = \"selecTodo\" class=\"custom-select\"  onchange=\"seleccionarTodo('" + dato.length + "')\"  >" +
            "<option selected disabled>Seleccione una opción</option>" +
            "<option >Conforme todo</option>" +
            "<option >No conforme todo</option>" +
            "</select>";


        inputComentario.innerHTML = "<div class=\"accordion\" id=\"divComentario\">" +
            "<div class=\"card\">" +
            "<div class=\"card-header\" id=\"heading\">" +
            "<h2 class=\"mb-0\"> " +
            "<button  style=\"box-shadow: none;\" class=\"btn btn-link btn-block text-left\" type=\"button\" data-toggle=\"collapse\" data-target=\"#collapse\" aria-expanded=\"true\" aria-controls=\"collapseOne\">" +
            "Observación item general" +
            "</button>" +
            "</h2>" +
            "</div>" +

            "<div id=\"collapse\" class=\"collapse show\" aria-labelledby=\"heading\" data-parent=\"#divComentario\">" +
            "<div class=\"card-body\">" +
            "<form>" +
            "<div class=\"form-group\">" +
            "<label for=\"obser\">Observación</label>" +
            "<textarea type=\"text\" class=\"form-control\"  id=\"obser\" rows=\"3\"></textarea>" +

            "</div>" +
            "<button type=\"button\" class=\"btn submitGD float-right\" data-toggle=\"tooltip\" data-placement=\"top\" title=\"Presione aplicar para agregar esta observación en todos los items de la solicitud\" onclick=\"actualizarComentarios('" + dato.length + "')\" >Aplicar</button>" +
            "</form>" +
            "</div>" +
            "</div>" +
            "</div>" +
            "</div>";


        btnEnviar.innerHTML = "<button type=\"button\" id=\"btnGuardar\" class=\"btn submitGD ml-auto\" data-dismiss=\"modal\" aria-label=\"Close\"  onclick=\"enviarTodo('" + codigo + "'," + JSON.stringify(items) + ")\">Enviar" +
            " </button>";


        $(function() {
            $("[data-toggle='tooltip']").tooltip();

        });

        select.style.display = "flex";
        inputComentario.style.display = "none";
        btnEnviar.style.display = "flex";
    }





</script>
